<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<link rel="stylesheet" href="./style.css">
<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>

<div id="app">
    <h1 :class="titleClass">{{message}}</h1>
    <p>Count is : {{counter.count}}</p>
    <button @click="increment">Increment</button>
    <button v-on:click="counter.count--">Decrement</button>

    <hr />

    <form>
        <input type="text" :value="inputVal" @input="inputVal = $event.target.value"
            placeholder="Type here => assigned through event" size="50" />
        <br />
        <br />
        <!-- <input type="text" :value="inputValThroughMethod" @input="onInput"
            placeholder="Type here => assigned through method" size="50" /> -->
        <input type="text" v-model="inputValThroughMethod" placeholder="Type here => assigned through method"
            size="50" />
    </form>
    <p><span style="font-weight: 700 ;">Changed through event :</span> {{inputVal}}</p>
    <p><span style="font-weight: 700 ;">Changed through method :</span> {{inputValThroughMethod}}</p>

    <hr />

    <h1>Conditionnal rendering</h1>
    <p> => Keeping element in the dom</p>
    <h2 v-show="awesome">Vue is awesome!</h2>
    <button @click="awesome = !awesome">Toggle awesome</button>

    <p> => Removing element from the dom</p>
    <h2 v-if="showAwesome">Vue is awesome!</h2>
    <h2 v-else>Oh no 😢 it's not awesome!</h2>
    <button @click="toggleShowAwesome">Toggle show awesome</button>

    <hr />

    <h1>List rendering</h1>

    <ol>
        <li v-for="todo in todoList" :key="todo.id">
            {{ todo.text }} <button @click="removeTodo(todo.id)">Remove</button>
        </li>
    </ol>

    <form @submit.prevent="addTodo">
        <input type="text" v-model="newListElement" placeholder="Add a todo in your list" />
        <br />
        <!-- v-html BAD => EXPOSED TO XSS ATTACKS -->
        <!-- <span v-html="emptyElmtErrMsgHtml">BAD => EXPOSED TO XSS ATTACKS</span> -->

        <span v-if="emptyMsg" :class="emptyElmtErrMsgClass">{{emptyElmtErrMsg}}</span>
        <br />
        <button>Add Todo</button>
    </form>


</div>

<script>
    const { createApp } = Vue

    let todoId = 0;

    createApp({
        data() {
            return {
                message: '1st Declarative rendering withVue!',
                counter: {
                    count: 0
                },
                titleClass: 'title',
                inputVal: '',
                inputValThroughMethod: '',
                awesome: true,
                showAwesome: true,
                todoList: [
                    { id: todoId++, text: 'Explore Vue used through CDN' },
                    { id: todoId++, text: 'Explore Vue used through Options API' },
                    { id: todoId++, text: 'Explore Vue used through Vite' },
                    { id: todoId++, text: 'Explore Vue used through Composition API' },
                    { id: todoId++, text: 'Explore Vue SPA' },
                    { id: todoId++, text: 'Explore Vue SFC' }
                ],
                newListElement: '',
                emptyElmtErrMsgHtml: '',
                emptyElmtErrMsgClass: 'emptyElmtErrMsg',
                emptyMsg: false,
                emptyElmtErrMsg: ''
            }
        },
        methods: {
            increment() {
                this.counter.count++
            },
            // onInput(e) {
            //     this.inputValThroughMethod = e.target.value;
            // },
            toggleShowAwesome() {
                this.showAwesome = !this.showAwesome;
            },
            removeTodo(id) {
                this.todoList = this.todoList.filter(todo => todo.id !== id);
            },
            addTodo() {
                if (!this.newListElement || this.newListElement.trim() === '') {
                    // alert("Please add a new todo element for the list");
                    //v-html BAD => EXPOSED TO XSS ATTACKS
                    // this.emptyElmtErrMsgHtml = "<i>Please add a new todo element for the list</i>";

                    this.emptyMsg = true;
                    this.emptyElmtErrMsg = "A new todo element for the list is required";

                    return;
                }
                this.todoList.push({ id: todoId++, text: this.newListElement });
                //RESET newListElement
                this.newListElement = '';

            }

        }
    }).mount('#app')

</script>